<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OrderManagement.RptDesigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <OrderManagement.RptDesigner.Properties.Settings>
            <setting name="ReportPath" serializeAs="String">
                <value>D:\Works\Web\Fava\Ecommerce\factorreport\E-commerce\microservices\OrderService.Host\Reports\</value>
            </setting>
        </OrderManagement.RptDesigner.Properties.Settings>
    </userSettings>
</configuration>